<%- include header.ejs %>

<div class="bodyContainer">
    <ol>
        <li>
            <h1><%= items.name %></h1>
            <p><%= items.page_description %></p>
            <div>
                <ol>
                    <% _.each(items.categories, function(subC) { %>
                        <li>
                            <% if (subC.image) { %>
                                <div>
                                    <img src="/images/<%= subC.image %>" />
                                </div>
                            <% } else { %>
                                <h2><%= subC.name %></h2>
                            <% } %>
                            <p><%= subC.page_description %></p>
                        </li>
                        <a href="<%= items.id + '/' + subC.id %>">View Products</a>
                    <% }); %>
                </ol>
            </div>
        </li>
    </ol>
</div>

<%- include footer.ejs %>
