<%- include header.ejs %>

<script>
    const priceUsdToLeu = Number('<%- currency %>');
    const prodPriceInUsd = Number('<%- product.price %>');
</script>

<div class="bodyContainer">
    <div class="container-fluid bg-light d-none d-lg-block sub-product-info">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-xl-4 row">
                    <span class="row"><%= product.name %></span>
                    <span class="row"><%= product.price %> USD</span>
                </div>

                <div class="col-3">
                    <span class="row">Size</span>
                    <div class="row">
                        <ul
                            class="list-inline list-unstyle rem-p-m size-menu"
                            id="sub-size-menu"
                        >
                            <% _.each(product.variation_attributes,
                            function(vari) { %> <% if (vari.id === 'size') {%>
                            <% _.each(vari.values, function(value) {%>
                            <li class="list-inline-item"><%= value.name %></li>
                            <% }) %> <% } %><% }) %>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <span class="row">Color</span>
                    <div class="row">
                        <ul class="list-inline list-unstyle rem-p-m">
                            <% _.each(product.variation_attributes,
                            function(vari) { %> <% if (vari.id === 'color') {%>
                            <% _.each(vari.values, function(value) {%>
                            <li
                                class="list-inline-item color-box"
                                style="background-color: <%= value.name %>"
                            ></li>
                            <% }) %> <% } %><% }) %>
                        </ul>
                    </div>
                </div>

                <div class="col-2">
                    <span class="row">Quantity</span>
                    <div class="row">
                        <ul
                            class="
                                list-inline list-unstyle
                                rem-p-m
                                quantitySelector
                            "
                        >
                            <li class="list-inline-item" id="minus">-</li>
                            <li class="list-inline-item quantity" id="quantity">
                                1
                            </li>
                            <li class="list-inline-item" id="plus">+</li>
                        </ul>
                    </div>
                </div>

                <a href="#" class="col-2 btn btn-red">ADD TO CART</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row align-items-center rem-p-m">
                    <div
                        class="col-xl-2 col-lg-auto small-pictures"
                        id="small-pictures"
                    >
                        <% _.each(product.image_groups, function(group) { %>
                        <%if(group.view_type === 'large' &&
                        group.variation_value == undefined){%> <%
                        _.each(group.images, function(image) { %>
                        <img
                            src="/images/<%= image.link %>"
                            alt="<%= image.alt %>"
                            class="row"
                        />
                        <%})%> <%}%> <%})%>
                    </div>
                    <div class="col image-container rem-p-m">
                        <img id="big-image" src="" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <span>Item No. <%= product.id %></span>
                <hr />
                <h1><%= product.name %></h1>
                <p><%= product.price %> USD</p>
                <hr />
                <div>
                    <span class="row main-info-property">Color</span>
                    <div class="row">
                        <ul class="list-inline list-unstyled">
                            <% _.each(product.variation_attributes,
                            function(vari) { %> <% if (vari.id === 'color') {%>
                            <% _.each(vari.values, function(value) {%>
                            <li
                                class="list-inline-item color-box"
                                style="background-color: <%= value.name %>"
                            ></li>
                            <% }) %> <% } %><% }) %>
                        </ul>
                    </div>
                </div>
                <div>
                    <span class="row main-info-property">Size</span>
                    <div class="row">
                        <ul
                            class="list-inline list-unstyle size-menu"
                            id="main-size-menu"
                        >
                            <% _.each(product.variation_attributes,
                            function(vari) { %> <% if (vari.id === 'size') {%>
                            <% _.each(vari.values, function(value) {%>
                            <li class="list-inline-item"><%= value.name %></li>
                            <% }) %> <% } %><% }) %>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="row main-info-property">Quantity</span>
                            <div class="row align-items-center">
                                <ul
                                    class="
                                        col
                                        list-inline list-unstyle
                                        rem-margin
                                        quantitySelector
                                    "
                                >
                                    <li class="list-inline-item" id="minus">
                                        -
                                    </li>
                                    <li
                                        class="list-inline-item quantity"
                                        id="quantity"
                                    >
                                        1
                                    </li>
                                    <li class="list-inline-item" id="plus">
                                        +
                                    </li>
                                </ul>
                                <a href="#" class="col btn btn-red"
                                    >ADD TO CART</a
                                >
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div>
                        <p>Share</p>
                        fb,tw,pl

                        <p>heart ADD TO WISHLIST</p>
                    </div>
                </div>
            </div>
            <div>
                <h2>DESCRIPTION</h2>
                <% if(product.short_description != product.long_description) {%>
                <%= product.short_description%> <%}%>
                <div><%- product.long_description %></div>
            </div>
        </div>
    </div>

    <script src="../../../scripts/product.js" defer></script>

    <%- include footer.ejs %>
</div>
