<%- include header.ejs %>

<script>
    const priceUsdToLeu = Number('<%- currency %>');
    const prodPriceInUsd = Number('<%- product.price %>');
</script>

<div class="bodyContainer noselect">
    <div class="d-block d-lg-none">
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <% _.each(product.image_groups, function(group) { %>
                <%if(group.view_type === 'large' && group.variation_value ==
                undefined){%> <% _.each(group.images, function(image) { %>

                <div class="swiper-slide">
                    <img
                        src="/images/<%= image.link %>"
                        alt="<%= image.alt %>"
                    />
                </div>
                <%})%> <%}%> <%})%>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container" id="main-container">
        <div class="row">
            <div class="col-lg-8 d-lg-block d-none">
                <div class="row align-items-center rem-p-m">
                    <div class="col-md-auto small-pictures" id="small-pictures">
                        <div class="arrow-box" id="up-btn">
                            <i class="arrow up"></i>
                        </div>
                        <% _.each(product.image_groups, function(group) { %>
                        <%if(group.view_type === 'large' &&
                        group.variation_value == undefined){%> <%
                        _.each(group.images, function(image) { %>
                        <img
                            src="/images/<%= image.link %>"
                            alt="<%= image.alt %>"
                            class="row"
                        />
                        <%})%> <%}%> <%})%>
                        <div class="arrow-box" id="down-btn">
                            <i class="arrow down"></i>
                        </div>
                    </div>
                    <div class="col image-container rem-p-m">
                        <img id="big-image" src="" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <span class="item-number">Item No. <%= product.id %></span>
                <hr />
                <h1 class="product-name"><%= product.name %></h1>
                <p class="product-price"><%= product.price %> USD</p>
                <hr class="d-none d-lg-block" />
                <div>
                    <span class="row main-info-property">Color</span>
                    <div class="row">
                        <ul class="list-inline list-unstyled color-menu">
                            <% _.each(product.variation_attributes,
                            function(vari) { %> <% if (vari.id === 'color') {%>
                            <% _.each(vari.values, function(value) {%>
                            <li
                                class="list-inline-item color-box"
                                style="background-color: <%= value.name %>"
                            ></li>
                            <% }) %> <% } %><% }) %>
                        </ul>
                    </div>
                </div>
                <div>
                    <span class="row main-info-property">Size</span>
                    <div class="row">
                        <ul
                            class="list-inline list-unstyle size-menu"
                            id="main-size-menu"
                        >
                            <% _.each(product.variation_attributes,
                            function(vari) { %> <% if (vari.id === 'size') {%>
                            <% _.each(vari.values, function(value) {%>
                            <li class="list-inline-item"><%= value.name %></li>
                            <% }) %> <% } %><% }) %>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="row main-info-property">Quantity</span>
                            <div class="row">
                                <div class="col-md-auto quantity-menu">
                                    <table class="quantity-table">
                                        <tr>
                                            <td id="minus">-</td>
                                            <td id="quantity">1</td>
                                            <td id="plus">+</td>
                                        </tr>
                                    </table>
                                </div>
                                <a
                                    href="#"
                                    class="col btn-red d-none d-lg-block"
                                    >ADD TO CART</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="d-lg-none mobile-share-menu">
                        <img
                            src="https://img.icons8.com/ios-glyphs/30/000000/facebook-circled--v1.png"
                        />
                        <img
                            src="https://img.icons8.com/ios-glyphs/30/000000/instagram-circle.png"
                        />
                        <img
                            src="https://img.icons8.com/ios-filled/50/000000/youtube-music.png"
                        />
                        <img
                            src="https://img.icons8.com/ios-glyphs/30/000000/twitter-circled--v1.png"
                        />
                    </div>
                    <hr />
                    <div>
                        <span class="d-none d-lg-block main-info-property"
                            >Share</span
                        >
                        <div class="row">
                            <div class="col d-none d-lg-block">
                                <img
                                    src="/images/fb-logo.png"
                                    alt="fb-logo"
                                    class="small-icon"
                                />
                                <img
                                    src="/images/tw-logo.png"
                                    alt="tw-logo"
                                    class="small-icon"
                                />
                                <img
                                    src="/images/plus-icon.png"
                                    alt="plus"
                                    class="small-icon"
                                />
                            </div>
                            <div class="col col-md-auto text-grey wishlist-btn">
                                <span
                                    ><i class="fas fa-heart heart"></i> ADD TO
                                    WISHLIST</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="description-container">
        <hr class="d-block d-lg-none" />
        <div class="row description align-items-center">
            <h2 class="col-lg-11 col-10 description-label">DESCRIPTION</h2>
            <div class="col">
                <div class="toggler" id="toggle-description">
                    <div class="dash" id="toggle-description-btn"></div>
                </div>
            </div>
        </div>
        <div class="row description-text" id="description">
            <div class="col-lg-8 col-12">
                <hr class="d-block d-lg-none" />
                <% if(product.short_description != product.long_description) {%>
                <%= product.short_description%> <%}%>
            </div>
            <div class="col-lg-4 col-12 long_description">
                <%- product.long_description %>
            </div>
        </div>
        <hr class="d-block d-lg-none" />
        <a href="#" class="btn btn-red d-block d-lg-none">ADD TO CART</a>
    </div>
    <script src="../../../scripts/product.js" defer></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <%- include footer.ejs %>
</div>
