<%- include header.ejs %>

<script>
    const priceUsdToLeu = Number('<%- currency %>');
    const prodPriceInUsd = Number('<%- product.price %>');
</script>

<div class="bodyContainer">
    <img
        src="/images/<%= product.image_groups[0].images[0].link %>"
        alt="<%= product.image_groups[0].images[0].src %>"
    />
    <h1><%= product.name %></h1>
    <div>
        <% if(product.short_description != product.long_description) {%> <%=
        product.short_description%> <%}%>
    </div>
    <div><%- product.long_description %></div>

    <a href="#">Buy Now</a>

    <div class="price">
        <label for="currency">Price:</label>
        <span id="price"><%= product.price %></span>
        <select id="currency" name="currency">
            <option value="usd">USD</option>
            <option value="leu">LEU</option>
        </select>
    </div>
</div>

<script src="../../../scripts/product.js" defer></script>

<%- include footer.ejs %>
